<h1>Shopping Cart</h1>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
  </div>

  @for (cartProduct of cartProducts ; track $index) {
    <div class="product">
        <div class="product-image">
          <img height="150vh" src={{cartProduct.image}}>
        </div>
        <div class="product-details">
          <div class="product-title">{{cartProduct.title}}</div>
          <p class="product-description">
            {{cartProduct.description}}</p>
        </div>
        <div class="product-price">{{cartProduct.price}}$</div>
        <div class="product-quantity">
          <input type="number" value="1" min="1">
        </div>
        <div class="product-removal">
          <button (click)="handleRemoveCartProduct(cartProduct)" class="remove-product">
            Remove
          </button>
        </div>
      </div>
  }
      
  <button (click)="handleCheckout()" class="checkout">Checkout</button>

</div>
